
:root {
    --cor-branco: #f0f8ff; 
    --cor-azul:#092675 ;
    --cor-laranja: #EB7C1B;
}
body{
    background: #092675 ;   
}
#logo{
    border-radius: 25px;
}

h3{
    color: var(--cor-branco);
} 
div .col{
    color: var(--cor-branco);
}
div .container-fluid{
    color: var(--cor-branco);
}





footer {
position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--cor-laranja);
  padding: 10px;
  text-align: center;

}
#icone-icon{
    width: 5vh; /* Ajuste o valor conforme necessário */
  height: auto; /* Mantém a proporção original da imagem */

}
.main-content {
    margin-bottom: 15px; /* Adapte o valor para o tamanho do rodapé */
  }


